<tr id="game_<%=game.id %>" >
  <td>
    <%= game.created_at.strftime('Game at %H:%M') %>
  </td>
  <td>
    <%= link_to 'Show', game_path(game) %>
    <%= link_to 'Clear', game_path(game), remote: true, method: :delete %>
  </td>
</tr>
