<h1>Slayfield</h1>
<h2>List of games</h2>

<%= form_for :game do |f| %>
  <%= f.submit "New Game"%>
<% end %>

<table id="games">
  <tr>
    <th>Game</th>
    <th>actions</th>
  </tr>

  <%= render @games %>
</table>
