<h1> Game #<%= @game.id %> (turn <%= @game.turn %>)</h1>

<% @winner = @game.winner  %>
<% if @winner %>
  <h1><%= @winner.name %> WON! </h1>
<% end %>

<%= render @teams %>

<div id='log'>
  <% @game.logs.order(turn: :desc, step: :desc).each do |log| %>
    <p><%= log.action %> </p>
  <% end %>
</div>

<p>
  <%= link_to 'Back', games_path %>
</p>
