<div id="character_<%=character.id%>">
<p>Name: <b id="character_<%=character.id%>_name"><%= character.name %></b></p>
<p>Health: <b id="character_<%=character.id%>_health"><%= character.health %></b></p>
<p>Power: <b id="character_<%=character.id%>_power"><%= character.power %></b></p>
<p>Hit locations: <b id="character_<%=character.id%>_hit_locations"><%= character.hit_locations.inspect %></b></p>
<% if character.alive? %>
  <% unless @team.finished_turn %>
    <% character.valid_targets.each do |c| %>
      <%= form_for :action, :url => game_team_character_actions_path(@game, @team, character) do |f| %>
        <%= hidden_field_tag(:type, :damage) %>
        <%= hidden_field_tag(:target_id, c.id) %>
        <%= f.submit "Damage " + (character == c ? 'self' : c.name) %>
      <% end %>
      <%= form_for :action, :url => game_team_character_actions_path(@game, @team, character) do |f| %>
        <%= hidden_field_tag(:type, :regular_attack) %>
        <%= hidden_field_tag(:target_id, c.id) %>
        <%= f.submit "Attack " + (character == c ? 'self' : c.name) %>
      <% end %>
    <% end %>
    <%= form_for :action, :url => game_team_character_actions_path(@game, @team, character) do |f| %>
        <%= hidden_field_tag(:type, :skip) %>
        <%= f.submit "Skip turn" %>
      <% end %>
  <% end %>
<% else %>
  <b> DEAD </b>
<% end %>
</div>
<hr>
